.input_style {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    color: #898989;
    font-size: 12px;
    padding: 15px;
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.input-group-text {
    background-color: #FFFFFF;
    color: #DADADA;
}

.search_input {
    border-left: none;
    color: #898989;
    &::placeholder {
        color: #DADADA;
    }
    @media screen and (max-width: 767px) {
        height: 57px;
        margin-bottom: 10px;
    }
}

.input-group-text {
    @media screen and (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.clear_filters-button {
    color: #FF5A70;
    text-decoration: none;
}