<form>
    <div class="row d-flex mb-3">
        <div class="col-12 col-lg-9">
            <div class="input-group h-100">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control search_input" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-auto">
            <button class='btn btn-secondary'>
                <i class="fa-solid fa-sliders"></i>
                Filter
            </button>
        </div>
        <div class="col">
            <button class='btn btn-danger'>
                <i class="fa-solid fa-plus"></i>
                New Hire
            </button>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-11 col-lg">
            <div class='form-control input_style d-flex flex-nowrap align-items-center'>
                <i class="fa-regular fa-calendar me-2"></i>
                <p class='m-0'> Create on: Jan/10/21 - Jan/28/21</p>
                <i class="fa-solid fa-chevron-down ms-auto"></i>
            </div>
        </div>
        <div class="col-11 col-lg">
            <select class="form-select input_style" aria-label="Default select example">
                <option value="" selected>Contact type</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
        </div>
        <div class="col-11 col-lg-4">
            <input class='form-control input_style' type="text" placeholder='Contractor Name'>
        </div>
        <div class="col-11 col-lg">
            <select class="form-select input_style" aria-label="Default select example">
                <option value="" selected>Status</option>
                <option value="">Option 1</option>
                <option value="">Option 2</option>
            </select>
        </div>
        <div class="col-11 d-lg-none text-end">
            <a href="#" class='clear_filters-button'><i class="fa-solid fa-trash-can me-2"></i>Clear filters</a>
        </div>
    </div>
</form>